title intersection-events Library Demo

link(rel="stylesheet", href="index.styl")

p This is <a href="https://github.com/ko-yelie/intersection-events">intersection-events</a> Demo.
p <a href="https://ko-yelie.github.io/intersection-events/docs/">Docs</a>
p Scroll down.

.js-target
.js-target

//  Set threshold only for this element
.js-target(data-enter-threshold='0.5' data-leave-threshold='0.5')

script(src="index.js")
