body
  position relative
  padding-bottom 100vh

p
  margin 1em
  line-height 1.5

.js-target
  width 200px
  height 100px
  margin 70vh auto 0
  background-color #eee

  &.show
    background-color #f55
